.top-bar-containor {
  height: 40px;
  display: block;
  color: rgb(102, 102, 102);
  background-color: rgb(34, 34, 34);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 262.5px;
}

.left-top-bar {
  display: flex;
  height: 40px;
  align-items: center;
  font-family: 'Pretendard-R';
  font-size: 12px;
  line-height: 12px;
}

.right-top-bar {
  display: flex;
}

.right-top-bar a {
  display: flex;
  align-items: center;
  font-family: 'AppleSDGothicR';
  font-size: 12px;
  padding: 0 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.wrap-menu-containor {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 40px;
  height: 84px;
}

.limiter-menu-containor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 262.5px;
}

.logo {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.logo img {
  width: 133px;
  height: 17px;
  margin-right: 55px;
}

.menu {
  display: flex;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu li {
  margin-left: 14px;
  margin-right: 4px;
  padding: 20px 10px 20px 0;
}

.main-menu li a {
  font-family: 'Pretendard-M';
  text-align: left;
  font-size: 14px;
}

.main-menu li.label1 {
  position: relative;
}

.main-menu li.label1::after {
  content: "hot";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -9px;
  top: 8px;
  border-radius: 7px;
  font-size: 10px;
  min-width: 32px;
  height: 15px;
  background-color: red;
  color: white;
  font-family: 'Pretendard-L';
}

.active-menu {
  color: rgb(108, 122, 224);
}

.icon-header-item img {
  width: 26px;
  height: 26px;
}

.wrap-icon-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  align-items: center;
}

.icon-header-item {
  padding: 0 11px 0 22px;
}
