#slider .slidebox {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  background-color: lightpink;
  white-space: nowrap;
  position: relative;
}

#slider .slidebox .slides {
  font-size: 0;
}

#slider .slidebox .slides .slide {
  font-size: 16px;
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: all .5s ease;
  border: 3px solid coral;
}

#slider .controlbox label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

#slider .controlbox .left {
  left: 5px;
}

#slider .controlbox .right {
  right: 5px;
}

#slider input[id="s01"]:checked ~ .slidebox .control01 label {
  display: block;
}

#slider input[id="s02"]:checked ~ .slidebox .control02 label {
  display: block;
}

#slider input[id="s03"]:checked ~ .slidebox .control03 label {
  display: block;
}



#slider input[id="s01"]:checked ~ .slidebox .slides .slide {
  transform: translateX(0%)
}

#slider input[id="s02"]:checked ~ .slidebox .slides .slide {
  transform: translateX(-100%)
}

#slider input[id="s03"]:checked ~ .slidebox .slides .slide {
  transform: translateX(-200%)
}