.slidebox {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  background-color: pink;
  white-space: nowrap;
}

.slides {
  font-size: 0;
}

.slide {
  font-size: 16px;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 3px solid red;
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

#s01:checked ~ .slidebox .slide {
  transform: translateX(0%);
}

#s02:checked ~ .slidebox .slide {
  transform: translateX(-100%);
}

#s03:checked ~ .slidebox .slide {
  transform: translateX(-200%);
}

input {
  display: none;
}