body {
  overflow-x: hidden;
}

.container {
  padding: 0 200px;
}

/* 헤더 탑 영역역 */

.header-top-wrapper {
  background-color: #884cd2;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header-top-left img {
  width: 18px;
  margin-right: 10px;
}

.location, .call, .post {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.location a:nth-child(1), .call a:nth-child(1), .post a:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}

.location a:nth-child(2), .call a:nth-child(2), .post a:nth-child(2) {
  font-family: 'Open-R';
  color: white;
}

.header-top-right {
  display: flex;
  padding: 10px 0;
}

.header-top-right img {
  width: 14px;
}

.header-top-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 10px;
}

/* 헤더 바텀 영역 */

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom-left {
  font-family: 'PT-B';
  color: #ff4f9d;
  font-size: 48px;
  padding: 10px 0;
}

.header-bottom-center {
  display: flex;
}

.dropdownbtn img {
  width: 14px;
}

.header-bottom-right img {
  width: 20px;
}

.header-bottom-menu {
  font-family: 'Open-R';
  color: #6d767e;
  font-size: 18px;
  padding: 0 10px;
  transition: all 0.3s ease;
}

.header-bottom-menu:hover {
  color: #ff4f9d;
}

.header-bottom-menu-active {
  font-family: 'Open-R';
  color: #ff4f9d;
  font-size: 18px;
  padding: 0 10px;
}

.dropdownbtn {
  font-family: 'Open-R';
  color: #6d767e;
  font-size: 18px;
  padding: 0 10px;
  transition: all 0.3s ease;
}

.dropdownbtn:hover {
  color: #ff4f9d;
}

.dropdown {
  position: relative;
}

.dropdowncontents {
  display: none;
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  top: 30px;
}

.dropdown.show .dropdowncontents {
  display: flex;
  flex-direction: column;
}

.dropdowncontents a {
  padding: 5px;
  font-family: 'Open-R';
  font-size: 14px;
}

.dropdowncontents a:hover {
  color: #ff4f9d;
}

.header-bottom-right {
  display: flex;
  align-items: center;
}

.header-bottom-right a:nth-child(1) {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff4f9d;
  transition: all 0.6s ease;
} 

.header-bottom-right a:nth-child(2) {
  padding: 10px 20px;
  background-color: #ff4f9d;
  color: white;
  font-family: 'Open-M';
  font-size: 18px;
  border-radius: 50px;
  margin-left: 10px;
  transition: all 0.6s ease;
}

.header-bottom-right a:hover {
  background-color: #884cd2;
}

.header-top-right a:hover img {
  filter: saturate(-10%);
}