* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 0 290.5px;
}

/* header */

.header-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 48px;
  color: deeppink;
  font-weight: 600;
}

.header-wrapper ul {
  display: flex;
  align-items: center;
}

.header-menu {
  font-size: 16px;
  font-weight: 400;
  color: darkgray;
  transition: all 0.6s ease;
  margin: 0 10px;
}

.header-menu-active {
  font-size: 16px;
  font-weight: 400;
  color: deeppink;
  margin: 0 10px;
}

.dropdown {
  position: relative;
}

.drop-btn {
  font-size: 16px;
  font-weight: 400;
  color: darkgray;
  transition: all 0.6s ease;
  margin: 0 10px;
  cursor: pointer;
}

.drop-btn i {
  font-size: 12px;
  margin-left: 5px;
}

.drop-contents {
  display: none;
  position: absolute;
  top: 40px;
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 1px #ccc;
}

.dropdown.show .drop-contents {
  display: block;
}

.drop-content {
  padding: 10px 0;
}

.header-action {
  display: flex;
  align-items: center;
}

.search {
  width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: deeppink;
  border-radius: 50%;
  transition: all 0.6s ease;
}

.search i {
  font-size: 20px;
  color: white;
}

.booking {
  padding: 10px 20px;
  background-color: deeppink;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  margin-left: 10px;
  transition: all 0.6s ease;
}

.header-menu:hover {
  color: deeppink;
}

.drop-btn:hover {
  color: deeppink;
}

.search:hover {
  background-color: blueviolet;
}

.booking:hover {
  background-color: blueviolet;
}

/* slider */

.slider {
  position: relative;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: deeppink;
  transition: all 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

.slides {
  width: 300vw;
  display: flex;
  transition: all 0.4s ease;
}

.slide {
  width: 100vw;
  position: relative;
  z-index: -1;
}

.slide img {
  opacity: 0.5;
}

.slide-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-subtitle {
  text-align: center;
  color: deeppink;
  font-size: 24px;
  letter-spacing: 3px;
}

.slide-title {
  text-align: center;
  color: black;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.slide-info {
  text-align: center;
  font-size: 24px;
}

.slide-action {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start {
  padding: 10px 30px;
  background-color: white;
  color: deeppink;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  margin-right: 10px;
  transition: all 0.6s ease;
}

.book {
  padding: 10px 30px;
  background-color: deeppink;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  margin-left: 10px;
  transition: all 0.6s ease;
}

.next:hover, .prev:hover {
  color: blueviolet;
}

.start:hover, .book:hover {
  background-color: blueviolet;
  color: white;
}

/* tabs */

#tabs {
  padding: 50px 0;
}

.tab-subtitle {
  text-align: center;
  color: deeppink;
  font-size: 24px;
  letter-spacing: 3px;
}

.tab-title {
  text-align: center;
  color: black;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.tab-btns {
  display: flex;
  justify-content: center;
}

.tab-btn {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid deeppink;
  background-color:floralwhite;
  border-radius: 50px;
  transition: all 0.6s ease;
  margin: 0 10px;
  cursor: pointer;
}

.tab-btn.active {
  background-color: deeppink;
  color: white;
}

.tab-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.tab-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}

.tab-card p {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  color: blueviolet;
  z-index: 2;
  opacity: 0;
}

.tab-card i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 15px;
  background-color: deeppink;
  border-radius: 50%;
  color: white;
  z-index: 2;
  transition: all 0.3s ease;
  opacity: 0;
  cursor: pointer;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 40px;
}

.tab-card img {
  width: 300px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.tab-card:hover .tab-bg {
  opacity: 1;
}

.tab-card:hover p {
  opacity: 1;
}

.tab-card:hover i {
  opacity: 1;
}

.tab-card i:hover {
  background-color: blueviolet;
}

.tab-card:hover img {
  transform: scale(1.1);
}

/* special */

#special {
  padding: 50px 0;
}

.special-subtitle {
  text-align: center;
  color: deeppink;
  font-size: 24px;
  letter-spacing: 3px;
}

.special-title {
  text-align: center;
  color: black;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.special-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.special-card {
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.special-card-top {
  position: relative;
}

.special-bg {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: #47474767;
  top: -100%;
  transition: all 0.4s ease;
  border-radius: 10px 10px 0 0;
}

.special-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -95%;
  left: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
}

.special-icons a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: deeppink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  transition: all 0.4s ease;
}

.special-card-top img {
  width: 300px;
  height: auto;
  object-fit: cover;
  background-color: #f0f0f0;
  border-radius: 10px 10px 0 0;
}

.special-card-bottom {
  background-color: deeppink;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin-top: -10px;
  transition: all 0.4s ease;
}

.card-bottom-title {
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-bottom-subtitle {
  text-align: center;
  color: white;
  font-size: 18px;
}

.special-card:hover .special-bg {
  top: 0;
}

.special-card:hover .special-icons {
  top: 5%;
}

.special-card:hover .special-card-bottom {
  background-color: blueviolet;
}

.special-icons a:hover {
  background-color: blueviolet;
  color: white;
}

/* footer */

footer {
  background-color: black;
  padding: 50px 0;
}

#footer-2 {
  background-color: black;
  border-top: 1px solid #cccccc62;
  padding: 10px 0;
}