* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

body {
  overflow-x: hidden;
}

.container {
  padding: 0 290.5px;
}

/* 헤더 */

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-wrapper p {
  font-size: 48px;
  font-weight: 700;
  color: deeppink;
}

.header-wrapper ul {
  display: flex;
}

.header-menu-active {
  font-size: 18px;
  margin: 0 10px;
  color: deeppink;
}

.header-menu {
  font-size: 18px;
  margin: 0 10px;
  translate: all 0.4s ease;
}

.dropdown {
  position: relative;
}

.drop-btn {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  translate: all 0.4s ease;
}

.drop-btn i {
  font-size: 12px;
  margin-left: 10px;
}

.drop-contents {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  top: 50px;
}

.drop-content {
  padding: 5px;
}

.dropdown.show .drop-contents {
  display: block;
}

.drop-btn:hover, .header-menu:hover {
  color: deeppink;
}

.header-right {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: deeppink;
  border-radius: 50%;
}

.search i {
  color: white;
}

.book {
  padding: 10px 20px;
  background-color: deeppink;
  border-radius: 50px;
  color: white;
  margin-left: 10px;
}

/* 슬라이드 */

.slider {
  position: relative;
}

.next, .prev {
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

.next i, .prev i {
  font-size: 50px;
  color: white;
  transition: all 0.3s ease;
}

.next:hover i, .prev:hover i {
  color: deeppink;
}

.slides {
  display: flex;
  width: 300vw;
  transition: all 0.6s ease;
}

.slide {
  width: 100vw;
  position: relative;
}

.slide-img img {
  opacity: 0.7;
}

.slide-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-subtitle {
  text-align: center;
  font-size: 24px;
  color: deeppink;
  font-weight: 400;
  letter-spacing: 3px;
}

.slide-title {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.slide-info {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.slide-action {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start {
  padding: 10px 20px;
  background-color: white;
  color: deeppink;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 5px;
}

.now {
  padding: 10px 20px;
  background-color: deeppink;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 5px;
}

/* 탭 */

.tab-subtitle {
  font-size: 20px;
  color: deeppink;
  text-align: center;
  font-weight: 300;
  margin-top: 100px;
}

.tab-title {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
}

.tab-btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.tab-btn {
  padding: 10px 30px;
  background-color: #f5f5f5;
  border: 1px solid deeppink;
  border-radius: 50px;
  margin: 0 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.tab-btn.active {
  background-color: deeppink;
  color: white;
}

.tab-contents {
  margin-top: 40px;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.tab-content a {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.tab-content img {
  width: 300px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.tab-content a img:hover {
  transform: scale(1.1);
}

/* special */

.special-cards {
  display: flex;
  justify-content: space-between;
}

.special-card {
  border-radius: 10px;
}

.card-top {
  position: relative;
  overflow: hidden;
}

.card-img img {
  background-color: #f5f5f5;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.card-bottom {
  border-radius: 0 0 10px 10px;
  padding: 30px 10px;
  background-color: deeppink;
  margin-top: -20px;
  transition: all 0.6s ease;
}

.card-bottom-title {
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.card-bottom-subtitle {
  font-size: 16px;
  color: white;
  text-align: center;
}

.card-bg {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: #cccccc60;
  top: -100%;
  border-radius: 10px 10px 0 0;
  transition: all 0.6s ease;
}

.card-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -95%;
  left: 20px;
  transition: all 0.6s ease;
}

.card-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  color: deeppink;
  border-radius: 50%;
  transition: all 0.6s ease;
  margin: 5px 0;
}

.special-card:hover .card-bottom {
  background-color:blueviolet;
}

.special-card:hover .card-bg {
  top: 0;
}

.special-card:hover .card-icons {
  top: 5%;
}

.card-icons a:hover {
  background-color: blueviolet;
  color: white;
}

.special-subtitle {
  font-size: 20px;
  color: deeppink;
  text-align: center;
  font-weight: 300;
  margin-top: 100px;
}

.special-title {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}